.token {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.32s ease;
}

.token__infoContainer {
  display: grid;
  grid-template-columns: 46px 1.5fr repeat(4, 1fr) 32px;
  align-items: center;
}

.token:hover {
  box-shadow: 0px 0px 0px 2px var(--secondary);
}

.token__id {
  font-family: var(--primaryFontFamily);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--neutral);
}

.token__logo {
  width: 40px;
  height: 40px;
}

.token__name,
.token__symbol,
.token__price,
.token__percentageChanges,
.token__volume,
.token__tvl,
.token__volumeChangePercentage,
.token__tvlChangePercentage,
.token__users,
.token__description {
  font-family: var(--primaryFontFamily);
  font-weight: 500;
  line-height: 120%;
}

.token__companyContainer {
  display: flex;
  align-items: center;
}

.token__companyNameContainer {
  margin-left: 20px;
}

.token__name {
  font-size: 21px;
  color: var(--black);
}

.token__symbol {
  font-size: 16px;
  color: var(--secondary);
}

.token__price {
  font-size: 18px;
  color: var(--secondary);
}

.token__percentageContainer {
  display: flex;
  gap: 16px;
}

.token__percentageChanges {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 100%;
}

.token__percentageChanges_negative {
  color: var(--primaryRed);
}

.token__percentageChanges_positive {
  color: var(--green);
}

.token__percentageChanges_neutral {
  color: var(--neutral);
}

.token__percentageChanges:not(:last-child)::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -10px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: var(--neutral);
  transform: translateY(-50%);
}

.token__volumeContainer,
.token__tvlContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.token__volume,
.token__tvl {
  font-size: 18px;
  color: var(--black);
}

.token__volumeChangePercentage,
.token__tvlChangePercentage {
  font-size: 16px;
  color: var(--secondary);
}

.token__usersContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.token__users {
  color: var(--black);
}

.token__openDescriptionButton {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.token__openDescriptionButton_opened {
  transform: rotate(180deg);
}

.token__description {
  max-height: 0;
  font-size: 16px;
  color: var(--neutral200);
  overflow: hidden;
  transition: all 0.22s linear;
}

.token__description > p {
  margin-top: 24px;
}

.token__description_opened {
  max-height: 150px;
}
