.menuItem {
  display: flex;
  align-items: center;
  max-width: 224px;
  height: 60px;
  margin: 0 auto;
  padding: 0 24px;
  border-radius: 16px;
  box-sizing: border-box;
  background: transparent;
}

.menuItem__text {
  max-height: 20px;
  font-family: var(--primaryFontFamily);
  line-height: 120%;
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}

.menuItem__icon {
  display: inline-block;
  height: 24px;
  margin-right: 24px;
}

.menuItem__icon > svg {
  fill: var(--white);
}

.menuItem_active {
  background: var(--white);
}

.menuItem_active .menuItem__text {
  color: var(--black);
}

.menuItem_active .menuItem__icon > svg {
  fill: var(--secondary);
}
