.sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: 64px 24px 24px 24px;
  width: 320px;
  box-sizing: border-box;
}

.sidebar__language {
  text-align: center;
  align-self: flex-end;
  font-family: var(--primaryFontFamily);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--white);
}
