.app {
  background-color: #F7F7FB;
  display: flex;
}

.tokens {
  width: 100%;
  padding: 32px;
}

.token {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 8px;
}
