.app {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: 320px 1fr;
  background: linear-gradient(200deg, var(--primary) 12%, var(--secondary) 78%);
}

.tokens {
  width: 100%;
  padding: 32px;
}

.token {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--white);
  margin-bottom: 8px;
}
