.app {
  background-color: #f7f7fb;
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100vh;
}

.tokens {
  width: 100%;
  padding: 32px;
}

.token {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 8px;
}
